body{
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin: 0px;
}

header{
    background-color: #7f8c8d;
    color: #ecf0f1;
    padding: 10px 0 10px 0px;
    
}

main{
    padding: 0px 10px 0px 10px;
}
h1{
    margin: 0px;
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
}

.info{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

img{
    width: 35%;
    border-radius: 50%;
    margin-top: 1em;
}

.picture{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption{
    text-align: center;
    margin-top: 1em;
}

footer{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7f8c8d;
    color: #ecf0f1;
}